@page "/indexeddb"

<div>
    <p><b>status:</b> @Message</p>
    <p><b>Db version:</b> @theFactoryDb.Version</p>
    <p><b>stores:</b> @string.Join(", ", theFactoryDb.ObjectStores.Select(s => s.Name))</p>
</div>

<div class="d-flex flex-row flex-wrap">
    <div class="card" style="margin-bottom:10px; margin-right: 10px; padding:5px; width:300px;">
        <button class="btn btn-outline-primary mt-4" @onclick="RecreateDb">Recreate Database</button>
        <button class="btn btn-outline-primary mt-4" @onclick="ClearStore">Clear Store</button>
        <button class="btn btn-outline-primary mt-4" @onclick="AddRecords">Add 100 records</button>
        <button class="btn btn-outline-primary mt-4" @onclick="@( _ => GetAll())">Get All</button>
        <button class="btn btn-outline-primary mt-4" @onclick="@( _ => GetAll(10))">Get first 10 records</button>
        <button class="btn btn-outline-primary mt-4" @onclick="@( _ => GetByKey(7))">Get id=7</button>
        <button class="btn btn-outline-primary mt-4" @onclick="@( _ => GetByKeyArray(new int[] {7, 9, 11}))">Get id=7, 9, 11</button>
        <button class="btn btn-outline-primary mt-4" @onclick="@( _ => GetByKeyRange(7, 12))">Get id between 7 and 12</button>
        <button class="btn btn-outline-primary mt-4" @onclick="@( _ => GetByFilter())">Filter record start with person</button>
    </div>

    <div class="card" style="margin-bottom:10px; margin-right: 10px; padding:5px; width:300px;">
        <div class="m-4">
            <label>First Name</label> <input id="searchFirstName" type="text" @bind="@SearchFirstName" />
        </div>
        <button class="btn btn-primary m-4" @onclick="SearchRecords">Search</button>
    </div>

    <div class="card" style="margin-bottom:10px; margin-right: 10px; padding:5px; width:300px;">
        <div class="m-4">
            <label>First Name</label> <input id="firstName" type="text" @bind="@CurrentPerson.FirstName" />
        </div>
        <div class="m-4">
            <label>Last Name</label> <input id="lastName" type="text" @bind="@CurrentPerson.LastName" />
        </div>
        <button class="btn btn-primary m-4" @onclick="AddRecord">Add/Update Record</button>
    </div>
</div>

<div class="d-flex flex-row flex-wrap mt-4">

    @foreach (var person in People)
    {

        <div class="card" style="margin-bottom:10px; margin-right: 10px; padding:5px; width:200px">
            <p>Id: @person.Id</p>
            <p>First Name: @person.FirstName</p>
            <p>Last Name: @person.LastName</p>
            <div>
                <button class="btn btn-outline-primary" @onclick="(() => EditPerson(person.Id.Value))">Edit</button>
                <button class="btn btn-outline-warning" @onclick="(() => DeleteRecord(person.Id.Value))">Delete</button>
            </div>
        </div>

    }

</div>

